/*------------------------------------------------------------------
[ QR Code ]*/
.qrcode-container {
    width: 256px;
    margin: 0 auto;
}

/*------------------------------------------------------------------
[ Error Messge ]*/
.error-messge {
    color: red;
    text-align: center;
    display: none;
}

/*------------------------------------------------------------------
[ Mask ]*/
.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

/*------------------------------------------------------------------
[ Loading ]*/
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    z-index: 2;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}